doctype html
html
	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Mixtape 1.0
		// bootstrap
		link(rel='stylesheet' href='/css/common/bootstrap.min.css')
		// custom css
		link(rel='stylesheet' href='/css/common/styles.css')
		// jQuery
		script(src='/js/common/jquery.min.js')
		// clientside scripts
		script(src='/js/client_routing.js')
		script(src='/js/home.js')
		script(src='/js/playlists.js')
		script(src='/js/support.js')
		script(src='/js/contact.js')
		script(src='/js/index.js')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
			.container
				a.navbar-brand(href='#') Mixtape
				|
				#navbarsExampleDefault.collapse.navbar-collapse
					ul.main-nav-menu.navbar-nav.mr-auto
						li.nav-item.active#homeNav
							a#homeButton.btn.nav-link Home
						li.nav-item#playlistsNav
							a#playlistsButton.btn.nav-link Playlists
						li.nav-item#supportNav
							a#supportButton.btn.nav-link Support
						li.nav-item#contactNav
							a#contactButton.btn.nav-link Contact
		br
		br
		br
		.container#main

		// footer
		.container
			hr
			footer
				p Mixtape &copy; 2018